:root {
    --purple-bg-color: #cf94da;
    --dark-purple-bg-color: #a359b0;
    --darker-purple-bg-color: rgb(76, 44, 91);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-purple-bg-color);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--purple-bg-color);
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.sections {
    display: flex;
    flex-direction: row;
}

#labels {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    background-color: var(--purple-bg-color);
}

#labels h3 {
    font-size: 32px;
}

#about-me {
    display: flex;
    flex-basis: 75%;
    margin-bottom: 20px;
    padding: 50px;
    background-color: var(--darker-purple-bg-color);
    color: white;
}

#work {
    display: flex;
    flex-basis: 75%;
    margin-bottom: 20px;
    padding: 50px;
    background-color: var(--darker-purple-bg-color);
    color: white;
}

#contact-me {
    display: flex;
    flex-basis: 75%;
    margin-bottom: 20px;
    padding: 50px;
    background-color: var(--darker-purple-bg-color);
    color: white;
}

#resume {
    display: flex;
    flex-basis: 75%;
    margin-bottom: 20px;
    padding: 50px;
    background-color: var(--darker-purple-bg-color);
    color: white;
}